.formFieldRow {
  display: flex;
  flex-wrap: wrap;
  gap: 28px 20px;
}

.fieldWrapper {
  @apply flex;
}
.formFieldRow.row-cols-100d2 .fieldWrapper {
  width: calc(50% - 15px);
}
.formFieldRow.row-cols-1 .fieldWrapper {
  width: calc(100% - 15px);
}
.formFieldRow.row-cols-2 .fieldWrapper {
  width: calc(50% - 15px);
}
.formFieldRow.row-cols-3 .fieldWrapper {
  width: calc(33.33% - 15px);
}
.formFieldRow.row-cols-4 .fieldWrapper {
  width: calc(25% - 20px);
}
.formFieldRow.row-cols-5 .fieldWrapper {
  width: calc(20% - 20px);
}
.formCard {
  @apply flex flex-col bg-[--card-bg] p-6 rounded-lg;
}
.formCardHeader {
  @apply flex items-center justify-between;
}

.formFieldRow .fieldWrapper {
  width: 100%;
}

.fieldWrapper .fieldWrapper .fileupload-label {
  @apply text-gray-500 text-[13px];
}

@media (min-width: 768px) {
  .formFieldRow .fieldWrapper {
    width: calc(50% - 15px);
  }
}

@media (min-width: 1024px) {
  /* lg: 3 columns */
  .formFieldRow .fieldWrapper {
    width: calc(33.33% - 15px);
  }
}

@media (max-width: 768px) {
  .fieldWrapper {
    width: 100% !important;
  }
}
